---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";
@import "mixins";
@import "profile";
@import "blog_list";
@import "posts";

html {
  font-size: 18px;
}

body {
  font-family: 'Helvetica';
  background: #333;
}

a,
a:active,
a:visited {
  text-decoration: none;
  border-bottom: 1px solid #0074D9;
  color: #0074D9;
  transition: all 1s;
}

a:hover,
a:focus,
a:active {
  color: darken(#0074D9, 20%);
  border-bottom: 1px solid darken(#0074D9, 20%);
  transition: all 1s;
}

h1 {
  text-align: center;
  font: {
    family: 'Raleway';
    variant: small-caps;
    size: 36px;
  }

  @include breakpoint(medium) {
    font-size: 48px;
  }

  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: #000;
    text-decoration: none;
    border: 0;
  }

  sup {
    display: inline-block;
    font-size: 12px;
    top: -1.5em;
  }
}

#wrapper {
  position: relative;
  box-sizing: border-box;
  background: rgba(#ffffff, 0.9);
  margin: 25px;
  padding: 25px;
  overflow: auto;

  @include breakpoint(1030px) {
    padding: 40px;
    max-width: 980px;
    margin: 50px auto 50px auto;
  }
}

#about {
  font: {
    family: 'Linden Hill';
    style: italic;
    size: 16px;
  }

  line-height: 160%;
  text-align: justify;
  margin: auto;
  padding-bottom: 20px;

  @include breakpoint(medium) {
    font-size: 22px;
    width: 85%;
  }

  @include breakpoint(large) {
    width: 70%;
  }

  &::after {
    border-bottom: 1px solid #333333;
    content: '';
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 20%;
  }

  time {
    text-align: center;
    display: block;
  }
}

#blog-link {
  text-align: center;

  font: {
    family: 'Linden Hill';
    style: italic;
    size: 24px;
  }
}
