@import 'mixins';

.profile {
  overflow: auto;
  margin: 40px 0;

  @include breakpoint(medium) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin-bottom: 15px;

    h3 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 24px;
      padding-bottom: 5px;
      border-bottom: 2px solid black;
    }

    h4 {
      font: {
        size: 14px;
        style: italic;
        weight: normal;
        variant: small-caps;
      }

      margin: 5px 0px 0px 0px;
      letter-spacing: 0.4em;
    }
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;
    }

    img {
      margin: 15px 30px 15px 15px;
      height: 150px;
      width: 150px;
      min-width: 150px; // Thanks flexbox
      border-radius: 75px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }

    p {
      text-align: justify;
      line-height: 150%;

      font: {
        size: 14px;
      }
    }
  }
}
